html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  margin: 0px;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-gap: 3px;
  grid-auto-flow: row;
}

.body-header {
  grid-column: span 12;
  display: flex;
  border: 1px solid black;
  background: rgb(34, 186, 191);
  align-items: center;
 }

.body-header > * {
  padding-left: 1em;
  border: 1px solid black;
  height: 100%; 
  
}

.body-header > div:nth-child(5) {
  margin-left: auto;
}

.content-menu {
  grid-column: 1 / 2;
  border: 1px solid black;
}

.content-aside img {
  width: 100%;
}

#home .content-content {
  grid-column: 2 / 11;
  border: 1px solid black;
}

#home .content-aside {
  grid-column: 11 / -1;
  border: 1px solid black;
}

#blog .content-content {
  grid-column: 2 / -1;
  border: 1px solid black;
}



.content-footer {
  grid-column: span 12;
  border: 1px solid black;
}
